$clear_theeme:white;
body{
    h1 {
        font-size: 5rem;
        text-align: center;
    }
    h2{
        font-size: 3rem;
        text-align:center;
    }
}
@media (min-width: 500px) {
    body {
        background-color: $clear_theeme;
    }
}

@media (max-width: 499px) {
    body {
        background-color: rgb(251, 255, 0);
        text-align: center;
    }
}
